<!--<div class="container">-->
    <!--<div class="row content-row-header">-->
        <!--<div class="col-md-3">-->
            <!--<p class="card-text">Roomnumber</p>-->
        <!--</div>-->
        <!--<div class="col-md-3">-->
            <!--<p class="card-text">size of room in persons</p>-->
        <!--</div>-->
        <!--<div class="col-md-3">-->
            <!--<p class="card-text">location</p>-->
        <!--</div>-->
        <!--<div class="col-md-3">-->
            <!--<p></p>-->
        <!--</div>-->
    <!--</div>-->
    <!--<form #f="ngForm" (ngSubmit)="onSubmitNgModel()" novalidate>-->
        <!--<my-date-picker name="ngModelDate" [options]="myDatePickerOptions" [selector]="selector" [(ngModel)]="model" required></my-date-picker>-->
        <!--<div>-->
            <!--<button class="button" type="submit">Submit</button>-->
            <!--<button class="button" type="button" (click)="clearNgModelDate()">Clear date</button>-->
            <!--<p class="error" *ngIf="!f.valid">Date is required!</p>-->
        <!--</div>-->
    <!--</form>-->
    <!--<div>-->
        <!--<div class="row room-wrap" *ngFor="let room of rooms">-->
            <!--<div>-->
                <!--&lt;!&ndash;<h4 class="card-title">ID: {{ post.id }}</h4>&ndash;&gt;-->
                <!--<div class="col-md-3">-->
                    <!--<p class="card-text">{{room.roomnumber}}</p>-->
                <!--</div>-->
                <!--<div class="col-md-3">-->
                    <!--<p class="card-text">{{room.size}}</p>-->
                <!--</div>-->
                <!--<div class="col-md-3">-->
                    <!--<p class="card-text">{{room.location}}</p>-->
                <!--</div>-->
                <!--<div class="col-md-3">-->

                    <!--<button (click)="getOne(room)">Book now</button>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->