/* You can add global styles to this file, and also import other style files */
body {
    
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color: #373a3c;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #373a3c;
}


.full {
    Width: 100%;
}

.wrap-container {
    max-width: 1000px;
    margin: auto;
}

.header {
    Width: 100%;
    background-color: #00163b;
    height: 100px;
}

.logo {
    padding: 20px 0;
    display: block;
    height: 100px;
}

.menu {
    background-color: #dee6ea;
    height: 70px;
}

.menu-item {
    border-left: 1px solid lightgrey;
    height: 70px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #393939;
    padding-top: 22px;
}

.menu-item:hover {
    background-color: #d4dbdf;
    cursor: pointer;
}

.active {
    background-color: #d4dbdf;
    border-bottom: 2px solid #393939; 
}

.menu-item-last {
    border-right: 1px solid lightgrey;
    padding-top: 14px;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.picture-banner {
    background-image: url(assets/rooms.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
}

.picture-banner h1 {
    text-align: center;
    color: #dee6ea;
    font-size: 3.7em;
    padding-top: 60px;
}




/*  content  */

.content {
    
}

.content-header {
    padding:50px;
    text-align: center;
    text-transform: uppercase;
    
}

.split-1 {
    width: 80px;
    height: 3px;
    margin: auto;
    margin-top: 20px;
    background-color: #373a3c;
}

.content-row-header p {
    font-size: 1.15em;
    padding: 20px 0 20px;
}

.content-row-header {
    border-bottom: 4px solid #373a3c;
    margin: 0px;
}

.content-row-header > col-md-3 {
    padding: 0px;
}




/*  Footer  */

#footer {
    Width: 100%;
    background-color: #00163b;
    height: 100px;
}



/*  Media   */

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}