.room-wrap {
    border-bottom: 1px solid lightgrey;
    margin-top: 10px;
    padding-bottom: 10px;
}

.room-wrap p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #373a3c;
}

button {
    width: 100%;
    background-color: #00163b;
    color: white;
    border: none;
}